body {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 49px 90px 51px;
    font-size: 18px;
}

.header__menu {
    display: flex;
    align-content: space-between;
}

.header__links-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: circle;
    text-underline-position: under;
    justify-self: left;
    gap: 33px;
    font-size: 18px;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    margin: auto;
}

.address {
    justify-self: right;
    text-underline-position: under;
    font-style: normal;
    line-height: 24.3px;
}

.cover {
    display: flex;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 757px;
    position: relative;
    text-transform: uppercase;
    flex-direction: column;
}

.overlay {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    inset: 0;
}

.cover__title {
    padding: 165px 20px 139px;
    display: flex;
    flex-direction: column;
    color:  #FFF;
    position: relative;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    margin: 0; 
}

.aligned-text {
    line-height: 115%;
    letter-spacing: 30px;
    padding-left: 30px;
}

.aligned-text_center {
    text-align: center;
    line-height: 100%;
    letter-spacing: 30px;
    padding-top: 18px;
    padding-right: 35px;
    
}

.aligned-text_right {
    text-align: end;
    line-height: 100%;
    padding-top: 22px;
    letter-spacing: 30px;
    
}

.letter-spacing-extended {
    padding-left: 30px;
}

.cover__description {
    display: flex;
    align-items: baseline;
    justify-content: end;
    align-content: space-evenly;
    padding-right: 50px;
    
}

.cover__description-text {
    color: #FFF;
    padding-right: 78px;
    font-size: 22px;
    position: relative;
    
    line-height: 28px;
    word-spacing: 18px;
}



.bet-button {
    margin: 0;
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #FFF;
    background-color: transparent;
    position: relative;
    padding: 12px 32px;
}

.lots {
    padding: 180px 50px 150px 50px;
    color: #000; 
    
}

.lots__heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    width: 430px;
    height: 450px;
    position: relative; 
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    margin-bottom: 30px;
}

.lots__card-list {
    display: flex;
    width: 100%;
    color: #FFF;
    gap: 25px;
}

.card__title {
    position: relative;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
   
}

.card__text {
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.lots__card-list-item {
    list-style: none;
    z-index: 1;
    text-decoration: none;
}

.card-link {
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: contain;
    background-size: 430px 450px;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: contain;
    background-size: 430px 450px;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: contain;
    background-size: 430px 450px;
    background-repeat: no-repeat;
}

.lots__look-more-link{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-position: under;
    
    padding-left: 40px;
}

.about {
    padding: 26px 50px 180px 50px;
    display: grid;
    grid-template-columns: 430px auto;
    justify-items: center;
    
}

.about__column {
    
    
}

.about__logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin-top: 105px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 100px;
    margin-left: 26px;
}

.about__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 26px;
}

.about__text-ask {
    padding-bottom: 28px;
}


footer {
    display: grid;
    padding: 1px 50px 90px 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 310px;
    font-size: 18px;
    text-underline-position: under;
}

.footer__menu-list {
    list-style: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    width: 240px;
    height: 48px;
    gap: 50px;
}




